*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Overpass", sans-serif;
}
img,
picture,
svg{
    max-width: 100%;
}

:root{
    --clr-primary-one:hsl(216, 12%, 8%);
    --clr-primary-two:hsla(213, 19%, 18%, 1);
    --clr-primary-three:hsl(220, 15%, 24%);
    --clr-secondary-one:hsl(0, 0%, 100%);
    --clr-secondary-two:hsl(217, 12%, 63%);
    --clr-accent:hsl(25, 97%, 53%);

    
    --fw-regular:400;
    --fw-bold:700;

    --fs-paragraph:15px;  
}

body{
    min-height: 100vh;
    background-color:var(--clr-primary-one);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: var(--clr-primary-two);
    width: 370px;
    height:390px;
    border-radius: 30px;
    
}
.div-1{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
h1{
    font-family: var(--ff-primary);
    color:var(--clr-secondary-one);
    font-size: 25px;
}
.star{
    
    background-color: var(--clr-primary-three);
    border-radius: 50%;

}

.star>img{
    padding: 9px 10px;
}
.rating{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.rating>div{
    background-color: var(--clr-primary-three);
    border-radius: 50%;
    color: var(--clr-secondary-two);
}
.rating >div{
    padding: 10px 15px;
    border-radius: 50%;
    transition: background-color 0.2s;
}
.rating2{
    background-color: var(--clr-accent);
}

.rating >div:hover{
    background-color: var(--clr-accent);
    cursor: pointer;
}
.main-text{
    color: var(--clr-secondary-two);
}
button{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    /* margin-top: 10px; */
    border-radius: 50px;
    background-color: var(--clr-accent);
    border: 0;
    font-weight: var(--fw-bold);
    font-size: 15px;
    transition: background-color, 0.15s;
}

button:active{
    background-color:var(--clr-secondary-one) ;
}

/* ______________________________ */
.div-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 20px;
}
.hide{
    display: none;
}

.div-2 p{
    text-align: center;
    
}

.text-1{
    background-color: var(--clr-primary-three);
    border-radius: 50px;
}

.text-1>p{
    color: var(--clr-accent);
    font-size: 15px;
    padding: 5px 12px;
}

.text-2{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.text-3{
    color:var(--clr-secondary-two);
    font-size: 15px;
}